PORT=3000
MONGO_URI=mongodb+srv://basit:basitali6817@cluster0.dokyo.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
GOOGLE_CLIENT_ID=667146873208-se3ettd6pp9p0ckkieu32rnqsbftd3cn.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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